{% extends 'gestion-layout.html.twig' %}
{% block body %}
<h2>Modifier un client✏️ </h2>
{{form_start(f)}}
 <div class="form-group">
{{form_widget(f)}} <br>
{{form_end(f)}} <br>

{% endblock %}


