{% extends 'gestion-layout.html.twig' %}
{% block body %}
<h2>Modifier un technicien ✏️</h2><br><br>

{{form_start(f)}}
{{form_widget(f)}}
{{form_end(f)}}
</div>
 <a href="{{path('app_acceuil3')}}"><button style = "position:relative; left:70% " type="submit" class="btn btn-black"> retour</button></a>
{% endblock %}
